:root{
    --background-color: #080e29;
    --primary-color: #1a2248;

    --material-shaduw-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-shaduw-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --material-shaduw-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --material-shaduw-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --material-shaduw-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    --transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus, textarea:focus{
    background-color: yellow;
    color: black;
}


html, body{
    height: 100%;
    font-family:sans-serif;
    scroll-behavior: smooth;
}

