<section class="filter">
    <div>
        <h2>Filter </h2>
        <ul>
            <li>html</li>
            <li>javascript</li>
            <li>css</li>
            <li>node</li>
            <li>express</li>
            <li>API</li>
        </ul>
    </div>
</section>