:root{
    --backround-color:#233eda;
    --primary-color: #84FFFF;

    --material-shaduw-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-shaduw-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --material-shaduw-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --material-shaduw-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --material-shaduw-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    --transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: grid;
    grid-template-areas: "navigation"
                         "overview";
    grid-template-rows: 4em 1fr;
    grid-row-gap: 1rem;
    background-color: var(--backround-color);
    padding: 4rem;
    padding-top: 2em;
}

li{
    list-style-type: none;
}

/*********************
    Navigation
*********************/
.navigation{
    grid-area: navigation;
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
}

.navigation li {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-right: 2rem;
}

.navigation a {
    text-decoration: none;
    color: black;
}

/*********************
    Filter
*********************/

.filter{
    grid-area: filter;
    height: 100%;
    display: flex;
    padding: 1rem 2rem;
}

.filter ul{
    display: flex;
    width: 100%;
}

.filter li{
    display: flex;
    align-items: center;
    margin-right: 0.4rem;
    padding: 0.4rem 2rem;
    border: solid rgba(0, 0, 0, 0.048) 0.04rem;
    border-radius: 0.2rem;
}

.filter div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.filter h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: normal;
}

/*********************
    Overview
*********************/
.overview{
    grid-area: overview;
    display: flex;
    padding: 1rem 2rem;
    overflow-y: hidden;
    perspective: 47em;
    perspective-origin: right;
    align-items: center;
}

.overview a{
    text-decoration: none;
}

.overview > h1{
    font-size: 10vw;
}

.overview .intro{
    animation: intro-slide-in 1s;
    height: 100%;
    color: white;
}

.overview .intro h1{
    font-size: 19vw;
    position: relative;
}

.overview .intro p{
    font-size: 2.7vw;
    font-weight: lighter;
    margin-top: 2.7rem;
}

@keyframes intro-slide-in{
    from{
        transform: translatex(100%);
        opacity: 0;
    }

    to{
        transform: translatex(0);
        opacity: 1;
    }
}


.project{
    display: grid;
    grid-template-areas: 'image description';
    grid-template-columns: 22em 17em;
    height: 27em;
    margin: 0 4em;
    transform: rotateY(24deg);
    transition: var(--transition);
}

.project:first-of-type{
    margin-left: 20vw;
}

.project:last-of-type{
    margin-right: 200em;
}

.project .description div{
    box-shadow: var(--material-shaduw-3);
    transition: var(--transition);
    display: flex;
    flex-wrap: wrap;
}

.project .description div:hover, .project .description:focus div{
    box-shadow: var(--material-shaduw-5);
}

.read-more{
    display: flex;
    margin-left: auto;
}

.project img{
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--material-shaduw-2);
}

.project .description {
    grid-area: description;
    display: flex;
    align-items: center;
    color: black;
}

.project .description div{
    height: 80%;
    background-color: #5474ffe6;
    color: white;
    padding: 2rem;
    margin-left: -4rem;
    position: relative;
    overflow: hidden;
}

.project .description div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    animation: slide-out 0.7s forwards;
}

@keyframes slide-out{
    from{
        transform: translateX(0)
    }

    to{
        transform: translateX(100%);

    }
}

.description h2{
    margin-bottom: 1rem;
    font-size: 2.4em;
    font-weight: bold;
}


/***********************
    Project page
***********************/

.project-page-container{
    display: grid;
    grid-template-areas: 'description image';   
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
}

.project-page-container .description {
    grid-area: description;
    background-color: white;
    padding: 4rem;
}

.project-page-container .description h1{
    font-size: 10vw;
    margin-bottom: 3rem;
}

.project-page-container .description p{
    font-size: 1.7vw;
    margin-bottom: 2rem;
    line-height: 1.5em;
}

.project-page-container .project-image-container{
    grid-area: image;
    display: flex;
    flex-direction: column;
}

.project-image-container img{
    display: block;
    width: 100%;
    margin-bottom: 10rem;
    object-fit: contain;
    position: sticky;
    top: 1rem;
}