<%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
            <main class="overview">

                <section class="intro">
                    <h1>Portfolio</h1>
                    <p>Hi, welcome to my digital portfolio. Scroll right to see my most recent works.</p>
                </section>

                <section id="first-project" class="project">
                    <img src="https://orig06.deviantart.net/530b/f/2013/019/9/c/9c8e30fccaecfe9627d02fa59ad3bec5-d5rztng.jpg" width="400"
                        height="300" alt="">

                    <a class="description" href="/project/Amsterdam">
                        <div>
                            <h2>Project Amsterdam</h2>
                            <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. </p>
                        </div>
                    </a>

                </section>

                <section class="project">
                        <img src="https://80lv-cdn.akamaized.net/80.lv/uploads/2017/06/yuriy-mazurkin-yuriy-mazurkin-environment-dreadnought-12-a.jpg" width="400"
                            height="300" alt="">
    
                        <a class="description" href="/project/Crypto">
                            <div>
                                <h2>Crypto Watcher</h2>
                                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. </p>
                            </div>
                        </a>
                </section>

                <section class="project">
                        <img src="http://conceptartworld.com/wp-content/uploads/2016/12/Tuan-Vo-concept-art-design-18-Red-temple.jpg" width="400"
                            height="300" alt="">
    
                        <a class="description" href="/project/Performance">
                            <div>
                                <h2>Performance matters</h2>
                                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. </p>
                            </div>
                        </a>
                </section>

                <section class="project">
                        <img src="https://images7.alphacoders.com/339/339497.jpg" width="400"
                            height="300" alt="">
    
                        <a class="description" href="/project/Realtime">
                            <div>
                                <h2>Real time application</h2>
                                <p>Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken. </p>
                            </div>
                        </a>
                </section>
            </main>

            <%- include partials/tail.ejs %>